aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 18rem;
  height: 100vh;
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

aside .logo-navigation {
  width: 40%;
  padding: 2rem;
  margin-top: 1rem;
}

aside ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.navigation__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  transition: 0.5s;
}

.item-dash{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
 
}

.item-dash img{
  width: 3rem;
}

.item-dash h5{
  color: var(--white-color);
}



.navigation__item.active {
  background: #4a4a4a;
}

.img-preview-user{
  height: 50px;
  width: 50px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50rem;
}