*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem; 
 font-family: 'Roboto', sans-serif;
}

input, button{
  outline: none;
  cursor: pointer;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

input[type="text"]{
  cursor: text;
}

input[type="password"]{
  cursor: text;
}

input[type="number"]{
  cursor: text;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

.lex-input{
  width: 300px !important;
}